zig-cache
.zig-cache
zig-out
zig-pkg
zbor
*.swp

# Linux Kernel Modules
*.ko
*.mod*
*.o
*.order
*.symvers
*.cmd

# Database files
*.db
*.cks

test.csv

# Python bindings
*.cpython*.so
build
uhidmodule.c

.venv
venv
__pycache__

*.duckdb
